<header id="site-header">
	<ul id="site-sidebar-controls">
		<li id="expand-sidebar-li">
			<input class="visually-hidden" id="expand-sidebar" type="checkbox" name="expand-sidebar" autocomplete="off" />
			<label for="expand-sidebar" title="{{ macros_translate::translate(key='toggle_sidebar', default='Toggle Sidebar', language_strings=language_strings) }}">
				{{- macros_icon::icon(name="sidebar") -}}
			</label>
		</li>
		<ul id="site-sidebar-modes" role="radiogroup">
			<li>
				<input class="visually-hidden" id="mode-nav" type="radio" name="mode" checked />
				<label for="mode-nav" title="{{ macros_translate::translate(key='sidebar_mode_nav', default='Toggle Navigation', language_strings=language_strings) }}">
					{{- macros_icon::icon(name="compass") -}}
				</label>
			</li>
			<li>
				<input class="visually-hidden" id="mode-meta" type="radio" name="mode" />
				<label for="mode-meta" title="{{ macros_translate::translate(key='sidebar_mode_meta', default='Toggle Metadata', language_strings=language_strings) }}">
					{{- macros_icon::icon(name="info") -}}
				</label>
			</li>
		</ul>
	</ul>
	<span class="title">
		{%- if current_path and current_path == "/" -%}
			{%- set title = config.title -%}
		{% elif title %}
			{%- set title = title -%}
		{% elif section.title -%}
			{%- set title = section.title -%}
		{% elif page.title %}
			{%- set title = page.title -%}
		{% elif term.name %}
			{%- set title = term.name -%}
		{% elif taxonomy.name %}
			{%- set title = taxonomy.name | capitalize -%}
		{% else %}
			{%- set title = "404" %}
		{%- endif -%}

		{{- title -}}
	</span>
	<ul class="buttons">
		{%- set has_taxonomy_feed = false -%}
		{%- if taxonomy is defined and taxonomy.feed and term is defined and term.path -%}
			{%- set has_taxonomy_feed = true -%}
		{%- endif -%}

		{%- if config.generate_feeds or section.generate_feeds or has_taxonomy_feed -%}
			<li>
				<details class="closable">
					<summary title="{{ macros_translate::translate(key='feed', default='Feed', language_strings=language_strings) }}">
						{{- macros_icon::icon(name="rss-simple") -}}
					</summary>
					<ul class="dropdown">
						{%- for feed_filename in config.feed_filenames -%}
							{%- if section.generate_feeds -%}
								{%- set feed_filename = current_path ~ feed_filename -%}
							{%- endif -%}
							{%- if has_taxonomy_feed -%}
								{%- set feed_filename = term.path ~ feed_filename -%}
							{%- endif -%}
							<li>
								<a href="{{ get_url(path=feed_filename, lang=lang) }}">
									{%- if feed_filename is containing("atom") -%}
										Atom
									{%- elif feed_filename is containing("rss") -%}
										RSS
									{%- else -%}
										{{ macros_translate::translate(key="feed", default="Feed", language_strings=language_strings) }}
									{%- endif -%}
								</a>
							</li>
						{%- endfor -%}
					</ul>
				</details>
			</li>
		{%- endif %}
		{%- if config.build_search_index -%}
			<li>
				<button id="search" title="{{ macros_translate::translate(key='search', default='Search', language_strings=language_strings) }}">
					{{- macros_icon::icon(name="magnifying-glass") -}}
				</button>
			</li>
		{%- endif -%}
		{%- if config.languages | length > 0 -%}
			<li>
				<details class="closable">
					<summary title="{{ macros_translate::translate(key='change_language', default='Change Language', language_strings=language_strings) }}">
						{{- macros_icon::icon(name="translate") -}}
					</summary>
					{%- include "partials/language_switcher.html" -%}
				</details>
			</li>
		{%- endif -%}
		<li>
			<button id="theme-toggle" title="Toggle theme">
				<span class="icon-sun">{{- macros_icon::icon(name="sun") -}}</span>
				<span class="icon-moon">{{- macros_icon::icon(name="moon") -}}</span>
				<span class="icon-auto">{{- macros_icon::icon(name="circle-half-tilt") -}}</span>
			</button>
		</li>
	</ul>
</header>
