<style>
	:root {
		--icon-arrow-square-out: {{ macros_icon::icon(name="arrow-square-out", inline=true) }};
		--icon-caret-down: {{ macros_icon::icon(name="caret-down", inline=true) }};
		--icon-check-square-offset: {{ macros_icon::icon(name="check-square-offset", inline=true) }};
		--icon-check: {{ macros_icon::icon(name="check", inline=true) }};
		--icon-copy: {{ macros_icon::icon(name="copy", inline=true) }};
		--icon-info: {{ macros_icon::icon(name="info", inline=true) }};
		--icon-lightbulb: {{ macros_icon::icon(name="lightbulb", inline=true) }};
		--icon-pencil: {{ macros_icon::icon(name="pencil", inline=true) }};
		--icon-repeat: {{ macros_icon::icon(name="repeat", inline=true) }};
		--icon-seal-check: {{ macros_icon::icon(name="seal-check", inline=true) }};
		--icon-speaker-high: {{ macros_icon::icon(name="speaker-high", inline=true) }};
		--icon-speaker-low: {{ macros_icon::icon(name="speaker-low", inline=true) }};
		--icon-speaker-none: {{ macros_icon::icon(name="speaker-none", inline=true) }};
		--icon-star: {{ macros_icon::icon(name="star", inline=true) }};
		--icon-trash: {{ macros_icon::icon(name="trash", inline=true) }};
		--icon-warning-diamond: {{ macros_icon::icon(name="warning-diamond", inline=true) }};
		--icon-warning-octagon: {{ macros_icon::icon(name="warning-octagon", inline=true) }};
		--icon-warning: {{ macros_icon::icon(name="warning", inline=true) }};

		/* Daudix custom icons */
		--icon-circle: {{ macros_icon::icon(name="circle", inline=true) }};
		--icon-moon: {{ macros_icon::icon(name="moon", inline=true) }};
		--icon-minus-circle: {{ macros_icon::icon(name="minus-circle", inline=true) }};
		--icon-circle-dashed: {{ macros_icon::icon(name="circle-dashed", inline=true) }};
	}
</style>
