{#- Based on themes/ametrine/templates/partials/title.html -#}

{#- Setup -#}
{%- set prefix = config.title -%}
{%- set custom_separator = config.extra.title_separator | default(value="-") -%}
{%- set separator = " " ~ custom_separator ~ " " -%}

{%- if current_path and current_path == "/" -%}
    {%- set suffix = "" -%}
    {%- set separator = "" -%}
{%- elif title -%}
    {%- set suffix = title -%}
{%- elif section.title -%}
    {%- set suffix = section.title -%}
{%- elif page.title -%}
    {%- set suffix = page.title -%}
{%- elif term.name -%}
    {#- Individual tags -#}
    {%- set suffix = term.name -%}
{%- elif taxonomy.name -%}
    {#- List of tags -#}
    {%- set suffix = taxonomy.name | capitalize -%}
{%- else -%}
    {%- set suffix = "404" -%}
{%- endif -%}

{#- Check for explicit hide via front matter -#}
{%- set hide_site_title = false -%}
{%- if page and page.extra and page.extra.hide_site_title -%}
    {%- set hide_site_title = true -%}
{%- elif section and section.extra and section.extra.hide_site_title -%}
    {%- set hide_site_title = true -%}
{%- endif -%}

{#- Check for duplication or explicit hide -#}
{%- if suffix == prefix or hide_site_title -%}
    {%- set separator = "" -%}
    {%- set prefix = "" -%}
{%- endif -%}

{#- Return the final concatenated string -#}
{{- suffix ~ separator ~ prefix -}}
