<div id="icons">
	<img
		width="64"
		height="64"
		class="transparent no-hover drop-shadow"
		src="/design/icons/original/de.schmidhuberj.DieBahn.svg"
		alt="Railway app icon."
		{% if config.markdown.lazy_async_image %}
			decoding="async" loading="lazy"
		{% endif %}
	/>
	<img
		width="64"
		height="64"
		class="transparent no-hover drop-shadow"
		src="/design/icons/original/io.github.tfuxu.Halftone.svg"
		alt="Halftone app icon."
		{% if config.markdown.lazy_async_image %}
			decoding="async" loading="lazy"
		{% endif %}
	/>
	<img
		width="64"
		height="64"
		class="transparent no-hover drop-shadow"
		src="/design/icons/original/org.nickvision.cavalier.svg"
		alt="Cavalier app icon."
		{% if config.markdown.lazy_async_image %}
			decoding="async" loading="lazy"
		{% endif %}
	/>
	<img
		width="64"
		height="64"
		class="transparent no-hover drop-shadow"
		src="/design/icons/original/org.nickvision.tagger.svg"
		alt="Tagger app icon."
		{% if config.markdown.lazy_async_image %}
			decoding="async" loading="lazy"
		{% endif %}
	/>
</div>
