
<article id="player">
	<div id="cover-container">
		<img id="cover" width="64" height="64" class="transparent no-hover" src="home/image-loading.svg" alt="" />
		<div id="cd-container">
			<img id="cd" width="64" height="64" class="transparent no-hover" src="home/media-optical.svg" alt="" />
			<div id="cd-shade"></div>
		</div>
	</div>
	<div id="player-info">
		<div id="player-status">
			<span id="now-playing">Now Playing</span>
			<span id="last-played">Last Played</span>
		</div>
		<div id="player-title-container" class="marquee">
			<strong id="player-title" class="title">Loading…</strong>
		</div>
		<div id="player-artist-container" class="marquee">
			<span id="player-artist">Loading…</span>
		</div>
	</div>
	<a id="player-go" href="#main-content" title="View on Last.fm">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
        </svg>
	</a>
</article>
