{%- if type == "contacts" -%}
	{%- set items = section.extra.contacts -%}
{%- elif type == "socials" -%}
	{%- set items = section.extra.socials -%}
{%- elif type == "forges" -%}
	{%- set items = section.extra.forges -%}
{%- endif -%}

<ul class="online-list">
	{%- for item in items -%}
		<li>
			<a href="{{ item.url }}" {% if type != "contacts" %}target="_blank"{% endif %}>
				<img 
                    src="{{ item.icon }}" 
                    alt="{{ item.name }}"
                >
				{{ item.name }}
			</a>
		</li>
	{%- endfor -%}
</ul>
