<div class="piano-embed-wrapper">
  <iframe src="/piano/index.html" title="Piano Embed" scrolling="no"></iframe>
</div>

<style>
  .piano-embed-wrapper {
    width: 100%;
    aspect-ratio: 2 / 1;
    position: relative;
    overflow: hidden;
    border-radius: 0 !important;
  }
  .piano-embed-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    border-radius: 0 !important;
  }
  .piano-embed-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
  }
</style>
