{% set avatar_src = src | default(value="/images/avatar.png") %} {% set
avatar_alt = alt | default(value="Avatar") %} {% set avatar_size = size |
default(value="180px") %} {% set avatar_rotation = rotation |
default(value="6deg") %} {% set border_color = border | default(value="#D10028")
%}

<div
  class="retro-avatar-container"
  style="--avatar-rotation: {{ avatar_rotation }};"
>
  <img
    src="{{ avatar_src }}"
    alt="{{ avatar_alt }}"
    class="retro-avatar no-hover"
    style="--avatar-size: {{ avatar_size }}; --avatar-border-color: {{ border_color }};"
  />
</div>
