<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bytesized&display=swap" rel="stylesheet">

<{{ tag | default(value="div") }} class="retro-word" {% if size or font %}style="{% if size %}--retro-text-size: {{ size }};{% endif %}{% if font %}--retro-text-font: {{ font }};{% endif %}"{% endif %}>
    {% for char in text %}
        {% if char == " " %}
            <span class="retro-letter" style="--i:{{ loop.index }}; width: 0.5em;" data-text="&nbsp;">&nbsp;</span>
        {% else %}
            <span class="retro-letter" style="--i:{{ loop.index }}" data-text="{{ char }}">{{ char }}</span>
        {% endif %}
    {% endfor %}
</{{ tag | default(value="div") }}>
