{% import "macros/rel_attributes.html" as macros_rel_attributes %}
{% import "macros/translate.html" as macros_translate %}
{% import "macros/link.html" as macros_link %}
{% import "macros/icon.html" as macros_icon %}
{% set rel_attributes = macros_rel_attributes::rel_attributes() | trim %}

{# Load the internationalisation data for the current language from
the .toml files in the user's "/i18n" folder, falling back to the theme's.
This variable will hold all the text strings for the language #}
{% set language_strings = load_data(path="i18n/" ~ lang ~ '.toml', required=false) %}
{% if not language_strings %}
    {% set language_strings = load_data(path="themes/ametrine/i18n/" ~ lang ~ ".toml", required=false) %}
{% endif %}
{% set rtl_languages = ["ar", "arc", "az", "dv", "ff", "he", "ku", "nqo", "fa", "rhg", "syc", "ur"] %}

{# Initialize localized date variables #}
{%- if lang != config.default_language -%}
	{%- set date_format_long = config.extra[lang].date_format_long | default(value="%B %d, %Y, %R (%Z)") -%}
	{%- set date_format = config.extra[lang].date_format | default(value="%B %d, %Y") -%}
	{%- set date_locale = config.extra[lang].date_locale | default(value="en_US") -%}
{%- else -%}
	{%- set date_format_long = config.extra.date_format_long | default(value="%B %d, %Y, %R (%Z)") -%}
	{%- set date_format = config.extra.date_format | default(value="%B %d, %Y") -%}
	{%- set date_locale = config.extra.date_locale | default(value="en_US") -%}
{%- endif -%}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ lang }}" style="{% include 'partials/accent_color.html' %}">
{% include "partials/head.html" %}

{%- if page.extra.accent_color -%}
	{%- set accent_color = true -%}
{%- elif section.extra.accent_color -%}
	{%- set accent_color = true -%}
{%- endif -%}

{%- if page.extra.banner -%}
	{%- set banner = page.extra.banner -%}
	{%- set blurnail = resize_image(path=page.colocated_path ~ banner, width=4, height=2, op="fill", format="webp") -%}
{%- elif section.extra.banner -%}
	{%- set banner = section.extra.banner -%}
	{%- set blurnail = resize_image(path=section.colocated_path ~ banner, width=4, height=2, op="fill", format="webp") -%}
{%- endif -%}

{%- set hide_banner = page.extra.hide_banner | default(value=false) or section.extra.hide_banner | default(value=false) -%}

<body
	{% if lang in rtl_languages %}dir="rtl"{% endif %}
	{% if accent_color and banner and not hide_banner %}class="has-banner"{% endif %}
>
{% block body %}
	<span id="up" hidden></span>
	<span id="down" hidden></span>
	<span id="left" hidden></span>
	<span id="right" hidden></span>
	<a id="skip-to-content" href="#main-content" tabindex="0">{{ macros_translate::translate(key="skip_to_content", default="Skip to Main Content", language_strings=language_strings) }}</a>
	{%- if page.extra.nav -%}
		{%- set_global nav_config = page.extra.nav -%}
	{%- elif section.extra.nav -%}
		{%- set_global nav_config = section.extra.nav -%}
	{%- elif lang != config.default_language and config.extra.nav[lang] -%}
		{%- set_global nav_config = config.extra.nav[lang] -%}
	{%- else -%}
		{%- set_global nav_config = config.extra.nav -%}
	{%- endif -%}
	{%- set_global nav_links = nav_config.links | default(value=[]) -%}
	{%- if nav_links | length == 0 and nav_config != config.extra.nav -%}
		{%- if lang != config.default_language and config.extra.nav[lang] -%}
			{%- set_global nav_links = config.extra.nav[lang].links -%}
		{%- else -%}
			{%- set_global nav_links = config.extra.nav.links -%}
		{%- endif -%}
	{%- endif -%}
	{% include "partials/header.html" %}
	{% include "partials/sidebar.html" %}
	{% block body_before %}{% endblock body_before %}
	{%- if banner and not hide_banner -%}
		<div id="banner">
			<div>
				<style>
					:root {
						--blurnail: url("{{ blurnail.url | safe }}");
					}
				</style>
				<img class="transparent no-hover" src="{{ blurnail.url }}" />
				<img class="transparent no-hover{% if page.extra.banner_pixels %} pixels{% endif %}" src="{{ current_url ~ banner }}"{% if config.markdown.lazy_async_image %} decoding="async" loading="lazy"{% endif %} />
			</div>
		</div>
	{%- endif -%}
	<main id="main-content"{% if nav_links | length > 5 or nav_config.force_sidebar | default(value=config.extra.nav.force_sidebar) %} class="has-nav"{% endif %}>
		{% block content_before %}{% endblock content_before %}
		{% block content %}{% endblock content %}
		{% block content_after %}{% endblock content_after %}
	</main>
	{% block body_after %}{% endblock body_after %}
	{% include "partials/footer.html" %}
	{% include "partials/search_modal.html" %}
	{% include "partials/extra_features.html" %}
	{% include "partials/icons.html" %}
	{% include "partials/strings.html" %}
{% endblock body %}
</body>
</html>
