{% extends "base.html" %}

{% block body %}
<blockquote>
	Recommended print size is A4 portrait. American Letter and other obscure sizes have not been tested.
</blockquote>

<div id="controls">
	<a href="{{ get_url(path='@/_index.md') }}">← Go Home</a>

	<ul id="on-monday-list">
		<li>
			<label for="on-monday">Start on Monday</label>
			<input type="checkbox" id="on-monday" class="switch" />
		</li>
	</ul>
</div>

<!-- Top half -->
<div>
	<div id="header">
		<span id="month-number"></span>
		<div id="secondary-column">
			<span id="month-name"></span>
			<span id="year"></span>
		</div>
	</div>

	<div id=calendar></div>
</div>

<!-- Bottom half -->
<div id="footer">
	<div id="year-progress">
		<div id="progress-bar-wrapper">
			<div id="progress-bar"></div>
		</div>
	</div>
	<div id="column">
		<div>
			<span id="progress-month"></span>
			<a href="https://www.aperturescience.com">
				<img class="transparent no-hover" src="{{ get_url(path='calendar/aperture-laboratories-logo.svg') }}" alt="Aperture Laboratories logo." />
			</a>
		</div>
		<div>
			<input type="checkbox" id="cube-dispenser" class="visually-hidden" checked />
			<label for="cube-dispenser">
				<span class="visually-hidden">Cube dispenser</span>
				<img class="transparent no-hover" alt="Cube dispenser." src="{{ get_url(path='calendar/chamber-icons/cube-dispenser.png') }}" />
			</label>
			<input type="checkbox" id="cube-hazard" class="visually-hidden" checked />
			<label for="cube-hazard">
				<span class="visually-hidden">Cube hazard</span>
				<img class="transparent no-hover" alt="Cube hazard." src="{{ get_url(path='calendar/chamber-icons/cube-hazard.png') }}" />
			</label>
			<input type="checkbox" id="pellet-hazard" class="visually-hidden" checked />
			<label for="pellet-hazard">
				<span class="visually-hidden">Pellet hazard</span>
				<img class="transparent no-hover" alt="Pellet hazard." src="{{ get_url(path='calendar/chamber-icons/pellet-hazard.png') }}" />
			</label>
			<input type="checkbox" id="pellet-catcher" class="visually-hidden" checked />
			<label for="pellet-catcher">
				<span class="visually-hidden">Pellet catcher</span>
				<img class="transparent no-hover" alt="Pellet catcher." src="{{ get_url(path='calendar/chamber-icons/pellet-catcher.png') }}" />
			</label>
			<input type="checkbox" id="water-hazard" class="visually-hidden" checked />
			<label for="water-hazard">
				<span class="visually-hidden">Water hazard</span>
				<img class="transparent no-hover" alt="Water hazard." src="{{ get_url(path='calendar/chamber-icons/water-hazard.png') }}" />
			</label>
			<input type="checkbox" id="fling-enter" class="visually-hidden" checked />
			<label for="fling-enter">
				<span class="visually-hidden">Fling enter</span>
				<img class="transparent no-hover" alt="Fling enter." src="{{ get_url(path='calendar/chamber-icons/fling-enter.png') }}" />
			</label>
			<input type="checkbox" id="fling-exit" class="visually-hidden" checked />
			<label for="fling-exit">
				<span class="visually-hidden">Fling exit</span>
				<img class="transparent no-hover" alt="Fling exit." src="{{ get_url(path='calendar/chamber-icons/fling-exit.png') }}" />
			</label>
			<input type="checkbox" id="turret-hazard" class="visually-hidden" checked />
			<label for="turret-hazard">
				<span class="visually-hidden">Turret hazard</span>
				<img class="transparent no-hover" alt="Turret hazard." src="{{ get_url(path='calendar/chamber-icons/turret-hazard.png') }}" />
			</label>
			<input type="checkbox" id="dirty-water" class="visually-hidden" checked />
			<label for="dirty-water">
				<span class="visually-hidden">Dirty water</span>
				<img class="transparent no-hover" alt="Dirty water." src="{{ get_url(path='calendar/chamber-icons/dirty-water.png') }}" />
			</label>
			<input type="checkbox" id="cake" class="visually-hidden" checked />
			<label for="cake">
				<span class="visually-hidden">Cake</span>
				<img class="transparent no-hover" alt="Cake." src="{{ get_url(path='calendar/chamber-icons/cake.png') }}" />
			</label>
		</div>
	</div>
</div>

<div class="buttons centered big">
	<button id="calendar-print" class="suggested">Print Calendar…</button>
</div>

<div id="achievement-lab-rat" class="achievement">
	<img class="transparent no-hover" src="{{ get_url(path='calendar/lab-rat.png') }}" />
	<div>
		<span>Achievement Unlocked!</span>
		<span>Lab Rat</span>
		<span>Acquire the Aperture Science Calendar.</span>
	</div>
</div>

<div id="achievement-basic-science" class="achievement">
	<img class="transparent no-hover" src="{{ get_url(path='calendar/basic-science.png') }}" />
	<div>
		<span>Achievement Unlocked!</span>
		<span>Basic Science</span>
		<span>Switch off and on all chamber icons.</span>
	</div>
</div>

<div id="achievement-rocket-science" class="achievement">
	<img class="transparent no-hover" src="{{ get_url(path='calendar/rocket-science.png') }}" />
	<div>
		<span>Achievement Unlocked!</span>
		<span>Rocket Science</span>
		<span>Use the keyboard shortcut to print.</span>
	</div>
</div>
{% endblock body %}
