{% extends "base.html" %}

{% block content %}
<div class="changelog-container">
    <header class="changelog-header">
        <h1>{{ section.title | default(value="Changelog") }}</h1>
        <p class="subtitle">{{ section.description | default(value="New updates, improvements, and fixes to " ~ config.title) }}</p>
    </header>

    <div class="changelog-timeline">
        {# Dynamic Content #}
        {% for page in section.pages %}
            {% set colors = ["red", "green", "yellow", "blue", "magenta", "cyan"] %}
            {% set colors_count = colors | length %}
            {% set color_index = loop.index0 % colors_count %}
            {% set color = page.extra.color | default(value=colors[color_index]) %}
            <article id="{{ page.title }}" class="changelog-entry {{ color }}">
                <div class="entry-date">{{ page.date | date(format=date_format, locale=date_locale) }}</div>
                <div class="entry-dot"></div>
                <div class="entry-content">
                    <h2><a href="#{{ page.title }}">{{ page.title }}</a></h2>
                    <div class="entry-body">
                        {{ page.content | safe }}
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
</div>
{% endblock content %}
