{% extends "base.html" %}

{% block content %}
<div class="container-fill">
	<div id="coffee-container">
		<div id="avatar-container">
			<img
				id="avatar"
				class="no-hover"
				alt="Avatar."
				src="/apple-touch-icon.png"
				{% if config.markdown.lazy_async_image %}
					decoding="async" loading="lazy"
				{% endif %}
			/>
		</div>
		<div id="coffee-banner-container">
			<span id="blobfox-message" class="drop-shadow">Hewwo~ 0w0</span>
			<img
				id="blobfox"
				class="transparent no-hover drop-shadow"
				alt="Neofox stretch down."
				src="neofox-stretch-down.png"
				{% if config.markdown.lazy_async_image %}
					decoding="async" loading="lazy"
				{% endif %}
			/>
			<img
				id="coffee-banner"
				class="no-hover"
				alt="Banner."
				src="banner.webp"
				{% if config.markdown.lazy_async_image %}
					decoding="async" loading="lazy"
				{% endif %}
			/>
		</div>
		<strong id="title">David Lapshin</strong>
		<p id="message">
			Want to support me and my work?
			You can do so by buying me a coffee!
			Use one of these options,
			and if you prefer some other,
			feel free to
			<a href="/#contacts">reach out</a>,
			maybe I do have it.
		</p>
		<div class="buttons" id="buttons">
			<a id="ko-fi" href="https://ko-fi.com/daudix">Ko-fi</a>
			<a id="liberapay" href="https://liberapay.com/daudix">Liberapay</a>
			<a id="monero" href="monero.txt">Monero</a>
			<a id="paypal" href="https://www.paypal.me/Daudix">PayPal</a>
		</div>
	</div>
</div>
{% endblock content %}
