{% extends "base.html" %}

{% block content %}
<article>
	{# Eliminamos Title y Article Details para usarlos como Landing Pages #}
	{{ page.content | safe }}
    {%- include "partials/backlinks.html" -%}
</article>

{%- if page.extra.fediverse.id -%}
	{%- include "partials/comments.html" -%}
{%- endif -%}

{%- if page.lower or page.higher -%}
	<hr />
	<nav class="article-nav">
		{%- if page.higher -%}
			<a class="article-nav-item prev" href="{{ page.higher.permalink }}#left">
				<div class="nav-arrow">{{ macros_translate::translate(key="previous", default="Previous", language_strings=language_strings) }}</div>
				<span class="article-title">{{ page.higher.title }}</span>
			</a>
		{%- endif -%}
		{%- if page.lower -%}
			<a class="article-nav-item next" href="{{ page.lower.permalink }}#right">
				<div class="nav-arrow">{{ macros_translate::translate(key="next", default="Next", language_strings=language_strings) }}</div>
				<span class="article-title">{{ page.lower.title }}</span>
			</a>
		{%- endif -%}
	</nav>
{%- endif -%}
{% endblock content %}
